In [114]:
## Python Assignment 2: Data Structures - List, Dictionary, Set & Conditional Statements

In [115]:
## List (Creation, Modification and Access):

In [116]:
## 1. List Creation:

In [117]:
### a. Create a list named age_list with five integer elements. For eg., [24, 25, 26, 27, 28]
age_list = [24,25,26,27,28]
print(age_list)

[24, 25, 26, 27, 28]

In [118]:
### b. Create a list named name_list with five string elements.
name_list = ["Abi", "Banu", "Chitra", "Divya", "Ezhil"]
print(name_list)

['Abi', 'Banu', 'Chitra', 'Divya', 'Ezhil']

In [119]:
## 2. List Operations / Modifications:

In [120]:
### a. Append the string "Yazhini" to name_list.
name_list.append("Yazhini")
print(name_list)

['Abi', 'Banu', 'Chitra', 'Divya', 'Ezhil', 'Yazhini']

In [121]:
### b. Insert the element 30 at index 2 in age_list.
age_list.insert(2,30)
print(age_list)

[24, 25, 30, 26, 27, 28]

In [122]:
### c. Remove the string "Yazhini" from name_list.
name_list.remove("Yazhini")
print(name_list)

['Abi', 'Banu', 'Chitra', 'Divya', 'Ezhil']

In [123]:
### d. Pop the last element from age_list.
age_list.pop()
print(age_list)

[24, 25, 30, 26, 27]

In [124]:
### e. Extend the age_list with additional ages [29, 30, 26].
age_list.extend([29,30,26])
print(age_list)

[24, 25, 30, 26, 27, 29, 30, 26]

In [125]:
### f. Sort age_list in descending order.
age_list.sort(reverse=True)
print(age_list)

[30, 30, 29, 27, 26, 26, 25, 24]

In [126]:
### g. Find Max age, Min age and sum of all ages from age_list.
Max_age = max(age_list)
Min_age = min(age_list)
Sum_age = sum(age_list)

print(f"Maximum_age_is", Max_age)
print(f"Minimum_age_is", Min_age)
print(f"Sum_of_all_age_is", Sum_age)

Maximum_age_is 30
Minimum_age_is 24
Sum_of_all_age_is 217

In [127]:
## 3. Accessing List Elements:

In [128]:
### a. Print the first element of name_list.
print("first_name:", name_list[0])

first_name: Abi

In [129]:
### b. Print the last element of name_list.
print("last_name:", name_list[4])

last_name: Ezhil

In [130]:
### c. Print the elements from index 2 to index 4 in name_list.
print(name_list[2:5])

['Chitra', 'Divya', 'Ezhil']

In [131]:
### d. Print the elements of name_list in reverse order.
name_list.reverse()
print(name_list)

['Ezhil', 'Divya', 'Chitra', 'Banu', 'Abi']

In [132]:
## Dictionary (Creation, Modification and Access):

In [133]:
### a. Create a dictionary named student_marks that maps the names of five students to their marks (use scale of from 0 to 100).
student_marks = {"Abi" : 89,
                 "Banu" : 90,
                 "Chitra" : 98,
                 "Divya" : 100,
                 "Ezhil" : 75}
print(student_marks)

{'Abi': 89, 'Banu': 90, 'Chitra': 98, 'Divya': 100, 'Ezhil': 75}

In [134]:
### b. Access and print the mark of a specific student, of your choice.
print(student_marks["Banu"])

90

In [135]:
### c. Add a new student "Janani" with a mark of 80 to the student_marks dictionary.
student_marks["Janani"] = 80
print(student_marks)

{'Abi': 89, 'Banu': 90, 'Chitra': 98, 'Divya': 100, 'Ezhil': 75, 'Janani': 80}

In [136]:
### d. Update the mark of any one older student to 82.
student_marks["Ezhil"] = 82
print(student_marks)

{'Abi': 89, 'Banu': 90, 'Chitra': 98, 'Divya': 100, 'Ezhil': 82, 'Janani': 80}

In [137]:
### e. Use the keys(), values(), and items() methods to print all keys, values, and key-value pairs in the student_marks dictionary.
print(student_marks.keys())
print(student_marks.values())
student_marks.items()

dict_keys(['Abi', 'Banu', 'Chitra', 'Divya', 'Ezhil', 'Janani'])
dict_values([89, 90, 98, 100, 82, 80])

dict_items([('Abi', 89), ('Banu', 90), ('Chitra', 98), ('Divya', 100), ('Ezhil', 82), ('Janani', 80)])

In [138]:
## Sets (Operations):

In [139]:
### a. Create a set called my_set with following values:['a','e','i','o','u','a','a','i']Analyse the output and provide explanation for the same.

my_set = {'a','e','i','o','u','a','a','i'}
print(my_set)

## A set in python is a collection of distinct values,so it automatically removes duplicate values.
## The set will keeps only one occurence of each value
## set is unordered,it won't maintain user given order.

{'o', 'u', 'a', 'i', 'e'}

In [151]:
### b. Attempt to change the value of my_set[4] = 's'. If code throws an error, provide an explanation.
print(my_set)
my_set[4] = 's'

## Sets are unordered,it doesn't have fixed position or index for specific element like list/tuples.
## If we try to change 4th python doesn't know the 4th element. Then it will throw the error'set' object does not support item assignment.
## We can only add and remove the elements in sets we cant modify the element.

{'o', 'u', 'a', 'i', 'e'}

TypeError: 'set' object does not support item assignment

In [141]:
### c. Create two sets:  set1 with values: {1, 3, 5, 7, 9}  set2 with values: {2, 3, 5, 8, 10}
set1 = {1,3,5,7,9}
set2 = {2,3,5,8,10}
print(set1)
set2

{1, 3, 5, 7, 9}

{2, 3, 5, 8, 10}

In [142]:
### d. Compute and print the union and intersection of set1 and set2.
Union_of_set = set1.union(set2)
print(f"Union = {Union_of_set}")

Intersection_of_set = set1.intersection(set2)
print(f"Intersection = {Intersection_of_set}")

Union = {1, 2, 3, 5, 7, 8, 9, 10}
Intersection = {3, 5}

In [143]:
## Operators & Conditional Statements : (IF, ELIF, ELSE)

In [144]:
## Performance Category Program:

In [145]:
### 1. Prompt user for Input. Score range should be from 0 to 10 (both inclusive).
score= (int(input("Enter Your Score (0 to 10) : ")))

Enter Your Score (0 to 10) : 7

In [146]:
''' 2. Find the performance category based on the input score using following criteria:
a. Above Average:  Score greater than 7
b. Average: Score between 4 and 7(both inclusive)
c. Below Average: Score lesser than 4. '''

score= (int(input("Enter Your Score (0 to 10) : ")))

if score>7:
  print(f" Above Average")
elif 4 <= score <= 7:
  print(f"Average")
else:
  print(f"Below Average")

Enter Your Score (0 to 10) : 9
 Above Average

In [147]:
### 3. Output: Print the Performance category
score= (int(input("Enter Your Score (0 to 10) : ")))

if score>7:
  print(f"Above Average")
elif 4 <= score <= 7:
  print(f"Average")
else:
  print(f"Below Average")

Enter Your Score (0 to 10) : 6
Average

In [148]:
### 3. Output: Print the Performance category
score= (int(input("Enter Your Score (0 to 10) : ")))

if score>7:
  print(f"Above Average")
elif 4 <= score <= 7:
  print(f"Average")
else:
  print(f"Below Average")

Enter Your Score (0 to 10) : 3
Below Average

In [149]:
''' Additional Step: You can give a prompt of your choice to each category.
For eg: If score below average “Need to Improve your performance, consistent
practice will lead to better results”. '''

score= (int(input("Enter Your Score (0 to 10) : ")))

if score>7:
  print(f"Above Average : Outstanding performance! Your hard work is paying off, Maintain consistency.")
elif 4 <= score <= 7:
  print(f"Average: Good effort! Keep practicing, there's room for improvement.")
else:
  print(f"Below Average: Need to Improve your performance, consistent practice will lead to better results.")

Enter Your Score (0 to 10) : 7
Average: Good effort! Keep practicing, there's room for improvement.