In [70]:
## Python Assignment 1: Data Structures - Strings & Tuples

In [ ]:
## Strings (Concatenation, Slicing and Other methods) :

In [71]:
## 1. String Concatenation:
string1 = "Hello "
string2 = input("Enter Your Name : ")
Result = string1 + string2
print(Result)

Enter Your Name : Zara
Hello Zara

In [72]:
string3= ", welcome to Python programming"
Final_Output = Result + string3
print(Final_Output)

Hello Zara, welcome to Python programming

In [73]:
## 2. String Slicing and Indexing:

In [74]:
### a. Print the first character of the string.
S="Hello Zara, welcome to Python programming"
print(S[0])

H

In [75]:
### b. Print the last character of the string.
S="Hello Zara, welcome to Python programming"
print(S[-1])

g

In [76]:
### c. Print the first 5 characters of the string.
S="Hello Zara, welcome to Python programming"
print(S[0:6:1])

Hello

In [77]:
### d. Print the last 11 characters of the string.
S="Hello Zara, welcome to Python programming"
print(S[-12:41])

 programming

In [78]:
### e. Print the string in reverse.
S="Hello Zara, welcome to Python programming"
print(S[:-42:-1])

gnimmargorp nohtyP ot emoclew ,araZ olleH

In [79]:
### f. Use slicing and print the word “Python” from the existing string.
S="Hello Zara, welcome to Python programming"
print(S[-19:-12])

 Python

In [80]:
## 3. String Methods:
strM = "Python beginner tutorial"

In [81]:
### a. Convert the sentence to uppercase.
strM = "Python beginner tutorial"
strM.upper()

'PYTHON BEGINNER TUTORIAL'

In [82]:
### b. Convert the sentence to lowercase.
strM = "Python beginner tutorial"
strM.lower()

'python beginner tutorial'

In [83]:
### c. Use Capitalize and return the sentence to the original input form.
strM = "Python beginner tutorial"
strM.capitalize()

'Python beginner tutorial'

In [84]:
### d. Count the total number of occurrences of character ‘t’  in the string.
strM = "Python beginner tutorial"
strM.count('t')

3

In [85]:
### e. Replace all occurrences of “Python” with “Machine Learning”  in the input string
strM = "Python beginner tutorial"
strM = strM.replace("Python", "Machine Learning")
print(strM)

Machine Learning beginner tutorial

In [ ]:
## Tuples (Creation, Modification and Access) :

In [88]:
### Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40, 50, 60):
t1 = (10,20,30)
t2 = (40,50,60)

print(t1)
print(t2)

(10, 20, 30)
(40, 50, 60)

In [108]:
### a. Concatenate the two tuples and store it in “t_combine”

t_combine = t1 + t2
print(t_combine)

(10, 20, 30, 40, 50, 60)

In [111]:
### b. Repeat the elements of “t_combine” 3 times
t_repeat= 3 * (t_combine)
print(t_repeat)

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [119]:
### c. Access the 3rd element from “t_combine”
print(t_combine)
t_combine[2]

(10, 20, 30, 40, 50, 60)

30

In [121]:
### d. Access the first three elements from “t_combine”
print(t_combine)
t_combine[:3]

(10, 20, 30, 40, 50, 60)

(10, 20, 30)

In [126]:
### e. Access the last three elements from “t_combine”
print(t_combine)
t_combine[-3:]

(10, 20, 30, 40, 50, 60)

(40, 50, 60)